.container.home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-image: url("../../../public/antique-scroll-backgrounds.jpg");
    background-size: cover;
}

.container > a {
    text-decoration: none;
    color: rgb(111, 12, 12);
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
}

.container > a:hover{
    color: rgb(187, 43, 43);
   }