.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quick {
    background-image: url("../../../public/antique-scroll-backgrounds.jpg");
    height: 100%;
    background-size: cover;
    padding-top: 10px;
    background-attachment: fixed;
}

.containerInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    font-size: 18px;
    gap: 15px;
    margin: 10px;
}

.containerInfo>div {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset 0px 0px 11px -2px rgba(138, 46, 0, 0.812);
}

.containerInfo>div>h2 {
    align-self: center;
    text-align: center;
}

.backLink {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;

}

.backLink:hover {
    text-decoration: none;
    font-size: 22px;
    color: rgb(187, 43, 43);
    font-weight: bold;

}

.dice {
    height: 60px;
    cursor: pointer;
    margin-bottom: 10px;

}

.dice:hover {
    filter: drop-shadow(0 0 0.5rem rgb(255, 214, 30));
    height: 70px;
    margin-bottom: 0px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.singleStatHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.diceSm {
    height: 40px;
    cursor: pointer;
}

.diceSm:hover {
    height: 42px;
}

.singleSpecHolder {
    display: flex;
    gap: 15px;
}

.singleSpecHolder > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points {
    margin-left: 8px;
    margin-right: 8px;
}

.singleSpecHolder img {
    width: 20px;
    cursor: pointer;
}

.singleSpecHolder img:hover {
    width: 24px;
}

.singleSpecHolder img:hover + .points {
    margin-left: 4px;
}

.specialtyPoints {
    display: flex;
    align-self: center;
    margin-top: -10px;
    margin-bottom: 5px;
}