.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quick {
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 20px;
    background-attachment: fixed;
}

.ParentContainer {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url("../../../public/antique-scroll-backgrounds.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.DownloadPfdButton {
    position: absolute;
    bottom: -15px;

}

.containerInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px;
    font-size: 24px;
}

.firstRow {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    border: 2px solid black;
    padding: 30px;
}

.secondRow {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    border: 2px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 30px;
    max-width: 1023px;
}

.thirdRow {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    border: 2px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 30px;
    width: 1023px;
    max-width: 1023px;
}

.forthRow {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    border: 2px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 30px;
    width: 1023px;
    max-width: 1023px;
}

.mehanichniStatHolder {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.nedostataciHolder {
    width: 600px;
}

.TrudnostiIPostijeniqP {
    padding-left: 20px;
}

.cornerDec {
    position: absolute;
    width: 120px;
}

.cornerDec.upRight{
    right: 0px;
    top: 0px;
}

.cornerDec.upLeft{
    left: 0px;
    top: 0px;
}

.cornerDec.downLeft{
    left: 0px;
    bottom: 0px;
}

.cornerDec.downRight{
    right: 0px;
    bottom: 0px;
}

.statsDiv {
    width: 320px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* box-shadow: inset 0px 0px 11px -2px rgba(138, 46, 0, 0.812); */
    font-size: 24px;
}

 h2 {
    align-self: center;
    text-align: center;
}


.containerInfo>div>p {
    margin-bottom: 15px;
    margin-top: 0px;
}


.backLink {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;

}

.backLink:hover {
    text-decoration: none;
    font-size: 22px;
    color: rgb(187, 43, 43);
    font-weight: bold;

}

.dice {
    height: 60px;
    cursor: pointer;
    margin-bottom: 10px;

}

.dice:hover {
    filter: drop-shadow(0 0 0.5rem rgb(255, 214, 30));
    height: 70px;
    margin-bottom: 0px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.singleStatHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.diceSm {
    height: 40px;
    cursor: pointer;
}

.diceSm:hover {
    height: 42px;
}

.singleSpecHolder {
    display: flex;
    gap: 15px;
}

.singleSpecHolder > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points {
    margin-left: 8px;
    margin-right: 8px;
}

.singleSpecHolder img {
    width: 20px;
    cursor: pointer;
}

.singleSpecHolder img:hover {
    width: 24px;
}

.singleSpecHolder img:hover + .points {
    margin-left: 4px;
}

.specialtyPoints {
    display: flex;
    align-self: center;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5px;
}

.PhysicalSpecialtiesStatHolder {
    display: flex;
    flex-direction: column;
}

.equipmentDiv {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.questionMark {
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    padding: 10px;
    bottom: 8px;
    font-size: 30px;
    color: rgb(106, 103, 103);
}

.hiddenEquipment {
    display: none;
}

.questionMark:hover ~ .hiddenEquipment {
    padding-left: 10px;
    display: block;
    position: absolute;
    z-index: 2;
    left: 10px;
    bottom: 50px;
    width: 280px;
    background-color: aliceblue;
    font-size: 15px;
}